body, ul{
	margin: 0; 
	padding: 0;
	font-family: Segoe ui;
}

/*---HEADER---*/
header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	display: flex;
	width: 100%;
}
header a.none{
	color: black;
	padding: 0px;
}
header img {
	vertical-align: middle;
}
header li {
	display: inline;	
	font-size: 30px;
}
header li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
header li a:hover, .dropdown:hover {
	background-color: red;
}
header .dropdown {
	display: inline-block;
}
header .dropdown-content {
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 100px;
}
header .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
header .dropdown-content a:hover {
	background-color: LightGrey;
}
header .dropdown:hover .dropdown-content {
	display: block;
}			
label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
}
input,label {
	margin: .4rem 0;
}
header div.cont {
	margin: 0 auto;
	display: flex;
	width: 76%;
	flex-wrap: wrap;
	align-content: space-between;
}
div.right{
	float: right;
	margin: 20px;
}
div.head{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	font-family: Segoe ui;
	width: 80%;
}

/*---ARTICLE---*/
article{
	font-size: 16px;
	background-image: url('../imgs/fondo.GIF');
}
article div.cont1 {
	display: flex;
	margin: 0 auto;
	align-content: space-between;
	padding: 0.5vw;
	justify-content: center;
}
article img{
	width: 45vw;
}
article ul.index{
	list-style-type: none;
}
article ul.index li{
	padding-bottom: 20px;
} 
article ul.efectos{
	font-size: 0.85vw;
}
article ul a{
	text-decoration: none;
	color: black;
}
article ul.efectos li {
	padding-bottom: 10px;
}
article div.sticky{
	margin-top: 7.80vw;
	position: sticky;
	top: 150px;
	left: 100px;
	box-shadow: 0 0 15px 0 rgb(47 47 47 / 10%);
	padding: 1vw;
	display: block;
	height: 5%;
	font-size: 10px;
	background-color: white;
}
article div.sticky1{
	margin-top: 7.80vw;
	position: sticky;
	top: 150px;
	left: 100px;
	box-shadow: 0 0 15px 0 rgb(47 47 47 / 10%);
	padding: 1vw;
	display: block;
	height: 6.5vw;
	font-size: 10px;
	background-color: white;
}
article div.ul{
	margin-left: 50px;
}
article div.cont {
	display: flex;
	flex-direction: column;
	margin-top: 7.80vw;
	margin-bottom: 7.80vw;
	width: 46%;
	padding: 20px; 
	background-color: white;
}
article h1{
	font-size: 30px;
	margin: 0px auto 0px auto;
	padding: 5px;
	background-color: #000;
	color: #fff;
	box-shadow: 0.375rem 0 0 #000, -0.375rem 0 0 #000;
	font-family: Montserrat,sans-serif;
	font-weight: 800;
	font-style: normal;
	margin-bottom: 0px;
}
article h2{
	text-align:center;
	margin-top: 0px;
	color: black;
	background-color: #f8dc22;
	box-shadow: 0.375rem 0 0 #f8dc22, -0.375rem 0 0 #f8dc22;
	font-family: Montserrat,sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 25px;
}
article h3{
	font-size: 20px;
	font-family: Montserrat,sans-serif;
	font-weight: 800;
	font-style: normal;
}
article p{
	font-weight: 400;
}
article video{
	width: 500px;
}
th, td{
	border: 1px solid black;
	padding: 10px;
}
article div table {
	border-collapse:collapse;
	border-spacing:0;
}
article table.volun{
	border: 1px solid black;
}
article table.volun tr.tr{
	width: 500px;
}
article table.volun td.td{
	height: 200px;
}

/*---FOOTER---*/
div.cont {
	margin: 0 auto;
	display: flex;
	width: 76%;
	flex-wrap: wrap;
	align-content: space-between;
}
footer {
	background-color: #f8dc22;
	color: #000;
	padding: 60px 0 20px;
}
footer h4{
	font-weight: 800;
}
footer ul{
	line-height: 1.428vw;
	list-style-type: none;
}
footer ul a{
	text-decoration: none;
	color: black;
}
footer div div{
	padding-right: 100px;
	padding-left: 100px;
}
footer div div.padding{
	padding-right: 150px;
	padding-left: 100px;
}
footer img.logo{
	padding-left: 20px;
	width: 5vw;
}
