body, ul{
	margin: 0; 
	padding: 0;
	font-family: Segoe ui;
}

/*---HEADER---*/
header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	display: flex;
	width: 100%;
}
header img a.pad{
	padding: 0px;
}
header img {
	vertical-align: middle;
}
header li {
	display: inline;	
	font-size: 30px;
}
header li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
header li a:hover, .dropdown:hover {
	background-color: red;
}
header .dropdown {
	display: inline-block;
}
header .dropdown-content {
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 100px;
}
header .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
header .dropdown-content a:hover {
	background-color: LightGrey;
}
header .dropdown:hover .dropdown-content {
	display: block;
}			
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}
input,label {
    margin: .4rem 0;
}
header div.cont {
	margin: 0 auto;
	border: 2px solid red;
	display: flex;
	width: 76%;
	flex-wrap: wrap;
	align-content: space-between;
}
div.right{
	border: 2px solid blue;
	float: right;
	margin: 20px;
}
div.head{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	font-family: Segoe ui;
	border: 2px solid green;
	width: 80%;
}

/*---ARTICLE---*/
article{
	font-size: 16px;
}
article div.cont1 {
	display: flex;
	margin: 0 auto;
	align-content: space-between;
	padding: 0.5vw;
	justify-content: center;
}
article img{
	width: 45vw;
}
article ul.index{
	list-style-type: none;
}
article ul.efectos{
	padding-left: 10vm;
	font-size: 0.85vw;
}
article ul a{
	text-decoration: none;
	color: black;
}
article div.sticky{
	margin-top: 7.80vw;
	position: sticky;
	top: 150px;
	left: 100px;
	box-shadow: 0 0 15px 0 rgb(47 47 47 / 10%);
	padding: 1vw;
	display: block;
	height: 12.5vw;
	font-size: 0.85vw;
}
article div.cont {
	margin: 0 auto;
	align-content: space-between;
	width: 46%;
	padding: 10px;
	justify-content: center;
}
article h1{
	font-size: 30px;
	display: inline;
    color: #fff;
    background-color: #000;
    box-shadow: 0.375rem 0 0 #000, -0.375rem 0 0 #000;
    word-break: break-word;
	font-family: Montserrat,sans-serif;
    font-weight: 800;
    font-style: normal;
}
article h2{
	margin-top: 20px;
	display: inline;
    color: black;
    background-color: #f8dc22;
    box-shadow: 0.375rem 0 0 #f8dc22, -0.375rem 0 0 #f8dc22;
    word-break: break-word;
	font-family: Montserrat,sans-serif;
    font-weight: 800;
    font-style: normal;
	font-size: 25px;
}
article h3{
	font-size: 20px;
	font-family: Montserrat,sans-serif;
    font-weight: 800;
    font-style: normal;
}
article p{
	font-weight: 400;
}

/*---FOOTER---*/