body, ul{
	margin: 0; 
	padding: 0;
	font-family: Segoe ui;
}
div.cont {
	margin: 0 auto;
	display: flex;
	width: 76%;
	flex-wrap: wrap;
	align-content: space-between;
}
/*---HEADER---*/
header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	display: flex;
	width: 100%;
}
header img {
	vertical-align: middle;
}
header a.none{
	color: black;
	padding: 0px;
}
header li {
	display: inline;	
	font-size: 30px;
}
header li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
}
header li a:hover, .dropdown:hover {
	background-color: red;
}
header .dropdown {
	display: inline-block;
}
header .dropdown-content {
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 100px;
}
header .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
header .dropdown-content a:hover {
	background-color: LightGrey;
}
header .dropdown:hover .dropdown-content {
	display: block;
}			
label {
	display: block;
	font: 1rem 'Fira Sans', sans-serif;
}
input,label {
	margin: .4rem 0;
}
div.right{
	float: right;
	margin: 20px;
}
div.head{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;	
	font-family: Segoe ui;
	width: 80%;
}
/*---ARTICLE---*/
article {
	background-image: url('../imgs/fondo.GIF');
}
article div.cont {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	width: 46%;
	padding: 10px;
	justify-content: center;
	background-color: white;
}
article iframe{
	width: 250vw;
	height: 40vw;
}
article div.div2 {
	margin: 0 auto;
	border: 2px solid green;
	float: right;
}
article div.cont div{
	border: 2px solid white;
	margin: 5px;
	width: 420px;
}
article div.cont div p{
	height: 175px;
}
article div.cont div hr{
	border-top: 1px dashed black;
}
article div.cont div h1{
	display: inline;
	color: #fff;
	background-color: #000;
	box-shadow: 0.375rem 0 0 #000, -0.375rem 0 0 #000;
	word-break: break-word;
	font-family: Montserrat,sans-serif;
	font-weight: 800;
	font-style: normal;
}
article div.cont div:hover h1{
	background-color: #f8dc22;
	color: black;
	box-shadow: 0.375rem 0 0 #f8dc22, -0.375rem 0 0 #f8dc22;
}
article div.cont div h5{
	display: inline;
	color: black;
	background-color: #f8dc22;
	box-shadow: 0.375rem 0 0 #f8dc22, -0.375rem 0 0 #f8dc22;
	word-break: break-word;
	font-family: Montserrat,sans-serif;
	font-weight: 800;
	font-style: normal;
}
a.button {
	border: 3px solid #000;
	border-radius: 0;
	color: #000;
	font-weight: 500;
	background-color: transparent;
	padding: 0.25em 1em;
	text-decoration: none;
}
a.button:hover{
	background-color: black;
	color: white;
	transition: background-color .3s;
}
/*---FOOTER---*/
footer {
	background-color: #f8dc22;
	color: #000;
	padding: 60px 0 20px;
}
footer h4{
	font-weight: 800;
}
footer ul{
	line-height: 1.428vw;
	list-style-type: none;
}
footer ul a{
	text-decoration: none;
	color: black;
}
footer div div{
	padding-right: 100px;
	padding-left: 100px;
}
footer div div.padding{
	padding-right: 150px;
	padding-left: 100px;
}
footer img.logo{
	padding-left: 20px;
	width: 5vw;
}
